/* *{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.container {
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
}

.nav{
background-color: #333;
color: white;
display: flex;
justify-content: space-between;
align-items: stretch;
gap: 2rem;
padding: 0 1rem;
}

.site-title{
    font-size: 5rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a {
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-size: 2rem;
}
.nav li.active{
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

.cards {

    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    
    grid-auto-rows: auto;
    
    grid-gap: 1rem;
    
    }

.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

/* On mouse-over, add a deeper shadow */
/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

/* Add rounded corners to the top left and the top right corner of the image */
/* img {
    border-radius: 5px 5px 0 0;
}

.city-image {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.holiday-cards {

    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    
    grid-auto-rows: auto;
    
    grid-gap: 1rem;
    
    }

.holiday-image {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.buttonClass {
    font-size:18px;
    font-family:Verdana;
    width:140px;
    height:50px;
    border-width:1px;
    color:rgba(255, 255, 255, 1);
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    box-shadow: 3px 4px 0px 0px #899599;
    text-shadow: 0px 1px 0px rgba(155, 155, 155, 1);
    background-color:transparent;
}

.Section_top{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(images/new-york-city.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

@keyframes change{
    0%
    {
        background-image: url(images/new-york-city.jpeg);
    }
    20%
    {
        background-image: url(images/new-york-city-2.webp);
    }
    40%
    {
        background-image: url(images/new-orleans.jpeg);
    }
    60%
    {
        background-image: url(images/los-angeles.avif);
    }
    80%
    {
        background-image: url(images/miami.avif);
    }
    100%
    {
        background-image: url(images/new-york-city.jpeg);
    }
}